body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
header{
  background-color: #3C065E;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 90px;
}
.logo{
    margin-top: 10px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    margin-right:20px ;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.header-area-img img{
    width: 100%;
}
.header-buttom{
    display: flex;
    justify-content: center;
    
}
.header-area-text{
    width: 35%;
    padding-top: 30px;
}
.header-area-img{
    width: 50%;
    position: relative;
    bottom: 30px;
    
}
.header-area-text h1{
    font-size: 3rem;
    color: white;

}
.header-area-text p{
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    line-height: 2em;
}
.header-area-text button{
    padding: 15px 52px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    background-color: #29B7DD;
    margin-top: 40px;
    color: white;
    letter-spacing: 3px;
}

#features-section{
text-align: center;
margin-bottom: 70px;
padding-top: 30px;
}
#features-section h1{
    color: rgb(0, 0, 0);
    font-size: 3em;
    margin-bottom: 0px;
}
#features-section p{
    font-size: 1.2em;
    padding-bottom: 30px;
}
.features-section-grid{
    display: grid;
    grid-template-columns: 500px repeat(2, 280px);
    grid-template-rows:repeat(2, 250px);
    justify-content: center;
    grid-gap: 20px;
}
.features-box img{
    width: 800px;
    position: relative;
    right: 130px;
    
}
.features-box{
    background-color: red;
    overflow: hidden; 
}
.features-box:first-child{
        grid-row-start: 1;
    grid-row-end: 3;
}
.features-box-image{
    
}
.features-box i{
    font-size: 3rem;
    color: white;
}
.features-box h4{
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}
.features-box1{
padding-top: 70px;
background-color: #29B7DD;
}
.features-box2{
padding-top: 70px;
background-color: #8B72EE;
}
.features-box3{
padding-top: 70px;
background-color: #5D3BE7;
}
.features-box4{
padding-top: 70px;
background-color: #BD72EF;
}
#data-section{
    display: flex;
    background-color: #3B065E;
    gap: 0px 40px;
   padding: 0px 110px;
   /* padding-top: 25px;
   padding-bottom: 30px; */
   padding-bottom: 90px;
   padding-top: 30px;
    
}
#data-section h1{
    font-size: 4rem;
    color: white;
    margin-bottom: 10px;
}
.data-section-image{
    width: 70%;
}
.data-section-text{
    width: 30%;
    padding-top: 80px;
}
.data-section-image img{
    width: 95%;
    position: relative;
    bottom: 35px;

}
.data-section-text h2{
    color: white;
}
.data-section-text p{
    color: white;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-left: 35px;
}
.data-section-text span{
    color: white;
    font-size: 1.1rem;
    letter-spacing: 5px;
   border-bottom: 2px solid white;
   padding-bottom: 5px;
   margin-left: 35px;

}
.data-padding{
    padding-top: 5rem;
}
.data-image{
    width: 100%;
    height: 410px;
    overflow: hidden;
}
#it-solutions{
    display: grid;
    grid-template-columns: 27% 60%;
    justify-content: center;
    margin: 60px 0px;
    
    padding: 0px 40px;
}
.it-section-img img{
    width: 100%;
}
.it-section-text h1{
    font-size: 3rem;
    color: #29B7DD;

}
.it-section-text p{
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.7em;
}
.it-section-text button{
    padding: 15px 52px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    background-color: #29B7DD;
    margin-top: 40px;
    color: white;
    letter-spacing: 3px;
}
#items-section{
    display: flex;
    justify-content: center;
    background-color:#3B065E;
    padding: 110px 90px 240px 90px;
    
    position: relative;
    
}
.item-section-img{
    width: 100%;
    z-index: 3;
    
}
.item-section-items{
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 200px);
    position: relative;
    right: 28%;
    top: 300px;
    grid-gap: 30px;


}
.item-box{
    background-color: rgb(255, 255, 255);
    /* border: 2px solid yellow; */
    text-align: center;
    z-index: 40;
}
.item-box span{
color: #29B7DD;
font-size: 4rem;
padding-top: 35px;
display: inline-block;
}
.item-box h3{
    color: rgb(0, 0, 0);
    font-weight: 300;
}
.item-section-img img{
    width: 100%;
}
.item-bg{
 background-image: url(../image/bg.png);
 min-height: 860px;
 width: 580px;
 overflow: hidden;
 background-repeat: repeat;
 position: absolute;
 background-size: initial;
 z-index: 0;
 top: 60px;
 right: 250px;
}
